@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
  margin: 0;
  background-color: #111212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.navbar{
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.nav-link, .navbar-brand{
  color: #ffffff;
}
.navbar-nav{
  margin-left: auto;
}
.small_img{
  height: 210px;
  width: 100%;
  border-radius: 5px;
}
h1{
  font-size: 24px;
}
h3{
  font-size: 14px;
  line-height: 1.5;
}
p{
  margin-bottom: 0.5rem;
}
.price{
  font-size: 24px;
    font-weight: 700;
    color: #ee2a24;
    margin-bottom: 0;
}
.btn{
  background-color: #ffd800;
  box-shadow: none;
  border:none;
  color: #000000;
}
.bs{
  box-shadow: rgba(243, 239, 2, 0.876) 2px 0px 10px 1px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
}
.bottom_price_view{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rooms_details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-fluid{
  max-width: 1400px;
}